*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 56px;
    background-color: #ffe300;
}
header nav{
    height: 56px;
    margin: 0 70px;
    position: relative;
}
header nav .logo{
    position: absolute;
    top: 18px;
    left: 0;
}
header nav .menu{
    margin: 0 auto;
    height: 56px;
}
header nav .menu .menu-box{
    text-align: center;
}
header nav .menu .menu-box>ul.menu-list-conter{
    height: 56px;
    margin: 0 auto;
    display: inline-block;
}
header nav .menu .menu-box>ul.menu-list-conter li{
    float: left;
    height: 56px;
    line-height: 56px;
    text-align: left;
}
ul li{
    list-style-type: none;
}
li{
    display: list-item;
}
header nav .meun .menu-list-box:hover{
    text-decoration: none;
    background-color: black;
    color: #ffe300;
}

header nav .menu .menu-box>ul.menu-list-content li a.menu-list-box {
    display: inline-block;
    padding: 0 24px;
}
a {
    color: inherit;
    outline: 0;
}
a, body, button, caption, dd, div, dl, dt, em, figure, form, h1, h2, h3, h4, h5, h6, html, i, img, input, label, li, ol, p, span, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul {
    margin: 0;
    padding: 0;
}
.popFaceTitle a:hover, a, a:hover {
    text-decoration: none;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}